:root {
  --grid-color: darkslateblue
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

canvas {
  outline: 2px solid var(--grid-color);
}

#app {
  font-family: monospace;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

#field {
  display: grid;
  grid-template-columns: 40px 400px;
  grid-template-rows: 40px 400px;
  width: 760px;
}

.axis-x {
  display: flex;
  grid-column: 2 / 3;
}

.axis-y {
  display: flex;
  grid-row: 2 / 3;
  flex-direction: column;
}

.axis-y, .axis-x span {
  font-size: 28px;
  color: #505050;
  width: 40px;
  line-height: 40px;
  text-align: center;
}

#field-game {
  position: absolute;
  left: 40px;
  top: 40px;
}

#controls {
  margin: 20px auto;
}

button {
  border: 0;
  font-size: 1em;
  margin-right: 16px;
  padding: 10px 22px;
  border-radius: 3px;
  letter-spacing: 1px;
  color: white;
  cursor: pointer;
  text-transform: capitalize;
}

#controls-reset-all-button {
  background-color: darkslateblue;
}

#controls-reset-all-button:hover {
  background-color: #291f6c;
}

#controls-undo-button {
  background-color: lightcoral;
}

#controls-undo-button:hover {
  background-color: #c96060;
}

#controls-play-button {
  background-color: #6fbb40;
}

#controls-play-button:hover {
  background-color: #5a9d30;
}

#controls-play-button:disabled,
#controls-reset-all-button:disabled,
#controls-undo-button:disabled {
  background-color: #cacaca;
  cursor: unset;
}