html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

canvas {
  outline: 2px solid #2586b4;
}

#app {
  font-family: monospace;
  box-sizing: border-box;
}

#field {
  display: grid;
  grid-template-columns: 40px 400px;
  grid-template-rows: 40px 400px;
  padding: 10px;
  width: 440px;
}

.axis-x {
  display: flex;
  grid-column: 2 / 3;
}

.axis-y {
  display: flex;
  grid-row: 2 / 3;
  flex-direction: column;
}

.axis-y, .axis-x span {
  font-size: 28px;
  color: #505050;
  width: 40px;
  line-height: 40px;
  text-align: center;
}

#field-game {
  position: absolute;
  left: 50px;
  top: 50px;
}

#controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button {
  border: 0;
  padding: 10px 22px;
  text-transform: capitalize;
  font-size: 1em;
  background-color: #8bc34a;
  color: white;
  letter-spacing: 1px;
  cursor: pointer;
}

button:hover {
  background-color: #7bae37;
}